.button {
    display: flex;
    max-width: 129px;
    height: 38px;
    background-color: #494953;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid white;
    color: white(248, 4, 86);
    font-weight: bold;
    cursor: pointer;
    &:hover{
        opacity: 0.90;
        border-color: yellow;
        transform: translate(-1px, -2px) rotate(-1deg)
    }
}
