.container {
    width: 80%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
}
.about {
    display: flex;
    align-items: center;
    align-content: flex-end;
}
.search {
    align-items: flex-end;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.title{
    font-size: 25px;
    padding-left: 30px;
}
.pagination {
    align-self: center;
}