.sidebarItem{
    display: flex;
    gap: 10px;
    cursor: pointer;
    position: relative;
    &:hover{
        opacity: 0.33;
    }
}

.active::before {
    content: "";
    position: absolute;
    right: 7px;
    top: 22px;
    height: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    pointer-events:none;


}
