.sidebarItem{
    display: flex;
    gap: 10px;
    cursor: pointer;
    position: relative;
    &:hover{
        color: rgb(240, 48, 112);
        transform: translate(-1px, -2px) rotate(-1deg);
    }
}

.active:before {
    content: "";
    position: absolute;
    right: 15px;
    top: 35px;
    height: 100%;
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
    background-color: rgba(0, 0, 0, 0);
    pointer-events:none;
}


.items{
    display: flex;
    gap: 5px;

}

.title {
    font-size: 18px;
}