.games {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 100px 0px 0px 15px;
}

.switcher {
    background-color: #494953;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    gap: 10px;
}

.items {
    gap: 1px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;

}
.sorted {
    display: flex;
    align-self: flex-end;
    gap: 7px;

}



  @media screen and (max-width: 850px) {
    .sorted {
        display: none;

    }
    .games {
        padding: 10px;
    }
    .items { 
        gap: 0px;
        display: flex;
        flex-wrap: wrap;
        
        
    }
  }

  @media screen and (max-width: 380px) {
    .games {
        padding: 1px;
    }
  }

  @media screen and (max-width: 360px) {
    .games {
        padding-left: 90px;
    }
  }