.games {
    min-width: 1180px;
    padding-top: 100px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.sortbar{
    display: flex;
    gap: 13px;
    align-items: baseline;
}
.switcher {
    background-color: #494953;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    gap: 10px;
}

.items {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    width: 100%
}
.sorted {
    display: flex;
    justify-content: space-between;
    padding-right: 87px;
}


