.games {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.switcher {
    background-color: #494953;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    gap: 10px;
}

.items {
    gap: 1px;
    display: flex;
    flex-wrap: wrap;
}
.sorted {
    display: flex;
    justify-content: space-between;
    width: 86%;


 
}

@media screen and (max-width: 1400px) {
    .items { 
        
    }
  }
  @media screen and (max-width: 1200px) {
    .sorted {
        justify-content: flex-start;

    }
  }