.header{
    height: 71px;
    background-color: #3B3B44;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    position: sticky;
    z-index: 50;
    width: 100%;
}
.headerHud {
    display: flex;
    justify-content: space-between;

}

.buttons {
    gap: 5px;
    display: flex;
    justify-content: space-between;
    
}

@media screen and (max-width: 850px) {
    .header{
        padding: 0px 0px ;

    }
    .buttons {
        display: flex;
        gap: 0px;
    }
  }


  @media screen and (max-width: 820px) {
    .title {
        display: none;
    }
    .buttons {
        display: none;
    }
    .header {
        position: relative;
    }
  }