.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #494953;
    min-width: 218px;
    height: 100vh;
    padding-top: 25px;
    padding-left: 23px;
    gap: 22px;
    border-radius: 0px 15px 0px 0px;


    
    
}