.search{
    
    height: 38px;
    border-radius: 20px;
    border: 1px solid #494953;
    background-color: #3B3B44;
    color: white;
    margin-left: 30px;
    padding-left: 23px;
    &:hover{
        border: 1px solid white;
    }
}
.search:focus {
    color: white;
    background-color: #494953;
    outline: 0;
}

.container {
    display: flex;
    align-items: center;

    min-height: 38px;
    position: relative;
}
.img {
    position: absolute;
    right: 10px;
    top: 8px;
}
@media screen and (max-width: 820px) {
    .search {
        margin-left: 0px;
        width: 60%;
    }
    .img{
        right:100px;
        top: 10px;

    }
  }