.root {
    width: 250px;
    padding: 50px;
    margin-top: 230px;
    background-color: yellow;
  }
  
  .field {
    margin-bottom: 20px !important;
  }
  
  .title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
  }